@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* ---------------- */
  /* Inter (body/UI)  */
  /* ---------------- */

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Inter-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
  }


  /* ---------------- */
  /* Gramercy (serif) */
  /* ---------------- */

  @font-face {
    font-family: 'Gramercy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Gramercy-Regular.woff2') format('woff2');
  }


  /* ---------------- */
  /* Base styling     */
  /* ---------------- */

  body {
    @apply bg-enclaveWhite text-enclaveBlue font-sans antialiased;
  }

  * {
    @apply box-border;
  }

}
