@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Serif+Text:ital@0;1&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply bg-white font-serif text-black antialiased;
  }

  .canvas {
    position: absolute !important;
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: none !important;
    z-index: -1;
  }

  canvas {
    margin: 0;
    width: 100vw !important;
    height: 100vh !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  input {
    @apply h-10 w-full rounded border border-gray-600 bg-white/50 px-4 py-3 font-mono text-sm font-medium leading-none ring-2 ring-transparent backdrop-blur-md placeholder:text-gray-800/40 focus-within:outline-none focus:border-gold-600 focus:ring-gold-600/40;
  }
}

@layer components {
  .btn {
    @apply flex h-10 cursor-pointer items-center justify-center gap-2 rounded px-4 py-3 font-mono text-sm font-semibold leading-none transition-all duration-300 ease-in-out;
  }

  .btn--primary {
    @apply relative bg-gray-950 lowercase text-gray-100 hover:bg-gray-700 hover:text-white active:translate-y-0.5 active:bg-gray-600 active:text-gray-100;
  }
}
