@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Barlow-Regular.woff) format('woff');
  }
  body {
    @apply bg-enclaveWhite text-enclaveBlue font-sans antialiased;
  }

  * {
    @apply box-border;
  }
}
